.filter-container {
  width: 100%;
  height: 55px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 2rem;
}

.filter-container .search-bar {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 2rem 0 0;
}

.filter-container .search-bar input {
  width: 100%;
  height: 100%;
  height: 55px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 1rem;
  background-color: #fff;
  color: #000;
}

.filter-container .search-bar svg {
  position: absolute;
  right: 25px;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.filter-container select {
  margin: 0 4rem 0 0;
  position: relative;
  width: 300px;
  min-height: 55px;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 1rem;
  background-color: #fff;
  color: #000;
}

.filter-container select option {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 1rem;
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 850px) {
  .filter-container {
    margin: 0;
  }
  .filter-container .search-bar {
    max-width: 40%;
    margin: 0;
  }
  .filter-container .filter-options {
    width: 40%;
  }
  .filter-container select {
    margin: 0;
    min-width: 100%;
    width: 40%;
  }
}
