.teams {
  top: 20%;
  width: 93.75%;
  margin: 5rem auto;
  background: linear-gradient(45deg, #e5e5e5, rgba(226, 227, 238, 0.2));
  border-radius: 50px;
  border: 1px solid #e2e3ee;
  padding: 4rem 2rem;
  backface-filter: blur(25px);
}

.teams .heading {
  color: #000;
  padding-bottom: 2rem;
  margin-left: 2rem;
}

.teams .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.teams .list .item {
  width: 100%;
  /* max-width: 1280px; */
  /* min-width: 360px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem;
}

.teams .list .item .head {
  text-align: center;
}

.teams .list .item .head .team-name {
  font-weight: 500;
}

.teams .list .item .head .team-members {
  color: #736aa0;
}

.teams .list .item .mid {
  width: 100%;
  padding: 2rem 0;
}

.teams .list .item .mid .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 2rem;
}

.teams .list .item .mid .top .project-name {
  width: 12ch;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(229, 167, 225, 0.2);
  border-radius: 20px;
  color: #e5a7e1;
}

.teams .list .item .mid .top .options {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-items: center;
}

.teams .list .item .mid .description {
  width: 100%;
  font-weight: 400;
  color: #736aa0;
}

.teams .list .item .bottom {
  width: 100%;
}

.teams .list .item .bottom .tagline {
  font-weight: 500;
}

.teams .list .item .bottom .members {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.teams .list .item .bottom .members .member {
  width: 45%;
  max-width: 360px;
  min-width: 240px;
  padding: 1rem;
  margin: 1rem 0;
  margin-right: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 20px;
  border: 1px solid #e2e3ee;
}

.teams .list .item .bottom .members .member .info .name {
  font-weight: 500;
}

.teams .list .item .bottom .members .member .info .domain {
  color: #736aa0;
}

@media screen and (max-width: 1500px) {
  .teams .list .item {
    width: 100%;
  }
  .teams .list .item .bottom .members .member {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .teams .list .item {
    margin: 0;
    min-width: 100%;
  }
  .teams .list .item .bottom .members .member {
    width: 100%;
  }
}
