.teams {
  margin: 5rem auto;
  position: relative;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.teams .team {
  position: relative;
  overflow-y: hidden;
  width: 100%;
  min-width: 460px;
  min-height: 460px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #bac8df;
  border-radius: 20px;
  margin: 2rem auto;
}

.teams .team .team-name {
  color: #000;
  text-align: center;
  padding: 2rem 0;
  font-weight: 500;
}

.teams .team .project-name {
  color: #000;
  font-weight: 500;
}

.teams .team .project-description {
  color: #b0b8d0;
  padding: 1rem 0;
}

.teams .team .team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 0;
  font-weight: 500;
}

.teams .team .team-members .total-members {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 5px 0 #bac8df;
  box-shadow: 1px 1px 5px 0 #bac8df;
}

.teams .team .team-members .total-members .number {
  color: #6eff3a;
  padding: 0 1rem;
}

.teams .team .list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  padding: 2rem 0;
}

.teams .team .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1rem 0;
  position: relative;
  width: 100%;
  min-width: 360px;
  min-height: 250px;
  background-color: #fff;
  border: 1px solid #bac8df;
  border-radius: 20px;
  padding: 1rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.teams .team .list .item .top-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.teams .team .list .item .top-section .options {
  width: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.teams .team .list .item .top-section .options .completed svg path {
  fill: #bac8df;
}

.teams .team .list .item .top-section .options .completed svg .checked {
  fill: #6eff3a;
}

.teams .team .list .item .tagline {
  width: 12ch;
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(229, 167, 225, 0.2);
  border-radius: 20px;
  color: #e5a7e1;
}

.teams .team .list .item .description {
  padding: 1rem 0;
}

.teams .team .list .item .bottom-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 0 0 0;
}

.teams .team .list .item .bottom-section .duration {
  /* width: 91px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
}

.teams .team .list .item .bottom-section .duration .date {
  color: #bac8df;
  padding: 0 1rem;
}

.teams .team .list .item .bottom-section .name {
  font-weight: 500;
  color: #000;
}

.teams .team .list .item .bottom-section .domain {
  font-weight: 400;
  color: #bac8df;
}

.teams .team .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teams .team .drop-down-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
}

.teams .team .drop-down-btn svg {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.teams .team .drop-down-btn:hover svg {
  -webkit-animation-name: dropDownButton;
  animation-name: dropDownButton;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes dropDownButton {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  33% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  66% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes dropDownButton {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  33% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  66% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
